.chatBackground {
  background-color: #687893;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}
.chatBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid black 1px;
  height: 90%;

  width: 90%;
  max-width: 500px;
  position: fixed;
  background: linear-gradient(to right, #181d1f, #0a171e);
  border-radius: 10px;
  box-shadow: 8px 8px 86px rgba(0, 0, 0, 0.4);
}
.row {
  flex: 1; /* Distribute the available space equally among the rows */
}
@media (min-height: 701px) {
  .row:nth-child(1) {
    flex: 1 0 10%; /* 1/5 height */
  }
  .row:nth-child(2) {
    flex: 1 0 80%; /* 3/5 height */
  }
  .row:nth-child(3) {
    flex: 1 0 10%; /* 1/5 height */
  }
}

@media (max-height: 700px) {
  .row:nth-child(1) {
    flex: 1 0 20%; /* 1/5 height */
  }
  .row:nth-child(2) {
    flex: 1 0 60%; /* 3/5 height */
  }
  .row:nth-child(3) {
    flex: 1 0 20%; /* 1/5 height */
  }
}

/* #region Title */
.appTitleRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  border-bottom: solid #1b2930 2px;
  height: 100px;
}
.profilePhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.appTitle {
  font-size: 1.1rem;
  padding-left: 1rem;
  color: #e1e5e5;
  font-family: "Nunito", sans-serif;
  margin: 0px;
}
.userStatus {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: #4b8e55;
  margin: 0px;
  padding-left: 1rem;
  padding-top: 0.2rem;
}
.textColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* #endregion Title */

/* #region MessageList */
.messageList {
  list-style-type: none;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.messageRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  padding: 1rem 1rem 0.5rem 1rem;
}
.messageRow:last-of-type {
  margin-bottom: 40px;
}
.messageBubble {
  display: inline-block;
  background-color: #0070da;
  color: #e1e5e5;
  padding: 0.5rem;
  border-radius: 7px 7px 0px 7px;
  font-family: "Nunito", sans-serif;
  max-width: 200px;
  word-wrap: break-word;
}
.messageDeleteButton {
  border: none;
  background-color: transparent;
}
.messageDeleteIcon {
  color: #e1e5e5;
  background-color: transparent;
  border: none;
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust as needed */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.errorText {
  color: red;
}

/* #endregion MessageList */

/* #region AddMessage */
.addBoxRow {
  width: 90%;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-top: #1b2930 solid 1px;
}
.addBox {
  width: 100%;
  max-width: 450px;
  background-color: #202d34;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addInput {
  border: none;
  border-radius: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #202d34;
  width: 70%;
  font-family: "Nunito", sans-serif;
  color: #e1e5e5;
  height: 50px;
}
.messageInputButton {
  border: none;
  background-color: transparent;
  padding-left: 10px;
}
.messageInputIcon {
  color: grey;
  border: none;
  width: 20px;
  height: 20px;
}
.messageSendIcon {
  color: #e1e5e5;
  border: none;
  width: 20px;
  height: 20px;
}
.messageSendButton {
  border: none;
  background-color: #0070da;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10px;
}
.addMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emojiPickerContainer {
  position: absolute;
  bottom: 70px; /* Position it below the addBoxRow */
  left: 30px; /* Align it to the left */
  margin-bottom: 5px; /* Add some margin for spacing */
}
input:focus {
  outline: none; /* Remove the default highlight */
  border: none; /* Remove the border */
}
.newMessage {
  animation: fadeOutToTop 0.3s ease-in-out;
}
@keyframes fadeOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.loading {
  position: absolute;
  top: -20px; /* Adjust the value based on your needs */
  right: 50px;
  font-size: 30px;
  top: -20px;
  color: white;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1900ms infinite;
  animation: ellipsis steps(4, end) 1900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* #endregion AddMessage */
